@import '../../index.scss';

.half {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    max-width: 100%;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    &.--background-white {
        background-color: $white;
    }
    &.--dark-gray {
        background-color: $darkCyan;
    }
}