@import "../../index.scss";

.container {
    display: flex;
    background-color: $white;
    width: 800px;
    height: 400px;
    margin-top: 60px;
    border-radius: 30px;
    padding: 16px;
    box-sizing: border-box;
    gap: 16px;
}