@import '../../../../index.scss';

.tip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(33.3333% - 10px);
    background-color: $darkCyan;
    border-radius: 5px;
    border: none;
    min-height: 40px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    color: $white;

    &:hover {
        background-color: $primary;
        transition: background-color ease-in-out 0.3s;
    }
}