@import '../../index.scss';

.typography {
    &__tag {
        &.--white {
            color: $white;
        }
        &.--gray {
            color: $darkPrimary;
        }
        &.--bolded {
            font-weight: 700;
        }
        &.--big {
            font-size: 24px;
        }
        &.--normal {
            font-size: 16px;
        }
        &.--letter-spaced {
            letter-spacing: 8px;
        }
    }
}